

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.albumart{
background-image: url("/images/albumcover.jpg");
height: 100%;
}

.background1 {
background-image: url("/images/supercell.jpg");
height: 100%;
background-repeat: no-repeat;
}

@media (max-width: 768px){

  .background1{
    height: 100vh;
  }

}

.catch{
  position: absolute;
  font-size: 9rem;
  color: #026CB8;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 8%;
}

.catch2{
  position: absolute;
  font-size: 9rem;
  color: #026CB8;
  padding-left: 3%;
  margin-top: 17%;
}  

.bg-white{
  background-color: #FFFBEE;
}

body{
  
  background-color: #FFFDEE;
}

.mikublue{
  color: #026CB8;
}

/* .danmaku{
position: absolute;
top: 10px;
left: 1920px;
-webkit-animation-name: move;
   -webkit-animation-duration: 10s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: normal;
   -webkit-animation-timing-function:linear;
}

@-webkit-keyframes move {
  0% {
     transform:translateX(0);
  }
  100% {
     transform:translateX(-10000%);
  }
} */


@media (max-width: 768px){

  .catch{
    position: absolute;
    font-size: 2.5rem;
  }

  .catch2{
    position: absolute;
    font-size: 2.5rem;
  }

}


::-webkit-scrollbar {
    width: 12px;
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #navbar a {
    float: left;
    display: block;
    color: #eaedff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-decoration: none;
  }
    
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  
  
.underline{
    position: relative;
  }
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #dfdbdb;
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  .experiencetimeline{
    color: #f2f2f2a2;
  }




  .bruh{
    border-radius: 5px;

  }

  /*scrollfade*/
  .scrollFade {
    opacity: 1;
    pointer-events: all;
  }
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  .scrollFade--animate {
    transition: opacity 0.8s ease-in-out;
  }